@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(13, 166, 255);
  text-align: center;
  color: rgb(255, 255, 255);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://t4.ftcdn.net/jpg/00/94/08/69/360_F_94086905_USLqvs5I6yFXyUEhJsAEAELQFLC5JdYd.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



